/* 各要素共通の設定について */
html body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    border: none;
    color: aliceblue;
    border-radius: 3px;
    width: 100px;
    padding: 8px;
    background-color: black;
}

h1 {
    border-bottom: 2px rgb(31, 143, 255) solid;
}

/* これないと結構スタイルが期待通りにならないので注意 */
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    /* flexの向きと直交する向きの設定 */
    align-items: center;
    row-gap: 16px;
    /* 親要素でちゃんと縦横の幅を設定する */
    max-width: 960px;
    min-height: 1400px;
}

/* ヘッダーについて */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation {
    display: flex;
    column-gap: 16px;
}

.header__a {
    color: rgb(31, 143, 255);
}

.header__a:hover {
    opacity: 0.7;
}

/* 画像は親要素に合わせるとなると、二つクラス必要？overflowはブロック要素にしか使えなさそうだし */
.main__image {
    height: 600px;
    width: 100vw; /* アスペクト比を維持するために幅は自動調整 */
    object-fit: cover; /* 必要に応じて画像の切り取り方を調整。containは表示領域に収まるように画像全体を表示する→そのため、アスペクト比の調整により表示領域に余白ができる */
}

/* Aboutについて */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about__content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    /* ちゃんと横幅を指定しないと親の横幅を受け継げない */
    width: 100%;
}

.about__image {
    width: 100px;
    height: 100px;
    /* 円形に画像をするには以下の用に50%で指定するとできる。 */
    border-radius: 50%;
    /* coverは画像が切れる、containは領域に当てはまるように */
    object-fit: cover;
}

.about__p {
    width: 400px;
}

/* Contentについて */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content__list {
    display: flex;
    column-gap: 16px;
}

.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.content__image {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.footer {
    display: flex;
    align-items: end;
    height: 100px;
}