/* 各要素共通の設定について */
html {
    /* %表記なのはユーザーがデフォルトのfont-sizeを変えている可能性があるため  */
    font-size: 62.5%;
}

body {
    /* ブラウザデフォルトで16pxなので10pxとなる。
     * remはroot(html)要素のfont-sizeからの相対的単位
    */
    font-size: 1.5rem;
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    color: aliceblue;
    border-radius: 3px;
    width: 100px;
    padding: 8px;
    background-color: black;
    font-size: 1.8rem;
}

h1 {
    border-bottom: 2px rgb(31, 143, 255) solid;
    font-size: 3.5rem;
}

h3 {
    font-size: 2.0rem;
}

/* これないと結構スタイルが期待通りにならないので注意 */
p {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    /* flexの向きと直交する向きの設定 */
    align-items: center;
    margin-top: 16px;
    row-gap: 16px;
    /* 親要素でちゃんと縦横の幅を設定する */
    /* レイアウトが入りきらないためこうしている */
    row-gap: 16px;
    /* 
     * 親要素でwidthを指定していないと、子要素が表示可能領域がwidthになってしまう。
     * これは今回のように子要素（header要素は画像の表示領域の幅にあわされてしまう）で想定外のwidthとなるので、親要素には必ずwidthを指定する
     */
    width: 100%;
}

/* ヘッダーについて */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
}

.navigation {
    display: flex;
    column-gap: 16px;
}

.header__a {
    color: rgb(31, 143, 255);
}

.header__a:hover {
    opacity: 0.7;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    margin-bottom: 48px;
    /* 
     * 親要素でwidthを指定していないと、子要素が表示可能領域がwidthになってしまう。
     * これは今回のように子要素（section要素は画像の表示領域の幅にあわされてしまう）で想定外のwidthとなるので、親要素には必ずwidthを指定する
     * 高さは、子要素の高さに親が合わせることになるので、高さは特に指定しなくても大丈夫
    */
    width: 100%;
}

/* 画像は親要素に合わせるとなると、二つクラス必要？overflowはブロック要素にしか使えなさそうだし */
.main__image {
    height: 600px;
    /* 
    * 100vwだと、スクロールバーの分も入るのだが、実際には画像は表示されない部分なので横スクロールが出現してしまう。
    * よって、htmlからbody、container、mainまでhtmlの画面いっぱいの幅を継承してここでwidth:100%とすれば、htmlの領域いっぱいに表示できるようになる
     */
    width: 100%; /* アスペクト比を維持するために幅は自動調整 */
    object-fit: cover; /* 必要に応じて画像の切り取り方を調整。containは表示領域に収まるように画像全体を表示する→そのため、アスペクト比の調整により表示領域に余白ができる */
}

.about__content--text {
    padding: 8px;
}

/* Aboutについて */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
}

.about__content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    /* ちゃんと横幅を指定しないと親の横幅を受け継げない */
    width: 100%;
}

.about__image {
    width: 100px;
    height: 100px;
    /* 円形に画像をするには以下の用に50%で指定するとできる。 */
    border-radius: 50%;
    /* coverは画像が切れる、containは領域に当てはまるように */
    object-fit: cover;
}

.about__p {
    width: 400px;
}

/* Contentについて */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
}

.content__list {
    display: flex;
    column-gap: 24px;
}

.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.content__image {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.footer {
    padding: 4px;
}

.footer__p {
    font-size: 0.8rem;
}